@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent-light) var(--color-background);
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --color-title: #E6E1E5;
    --color-background: #1f1c27;

    --color-header: #241f30;

    --color-background-dark: #121212;
    --color-background-light: #d1d1ec;

    --color-accent-light: #D0BCFF;
    --color-accent-dark: #353042;

    --color-accent-light-text: #d3cde7;
    --color-accent-dark-text: #342d44;

    --border-radius-high: 28px;
    --border-radius-medium: 20px;
    --border-radius-low: 15px;

    --transition-fast: 0.2s;
    --transition-medium: 0.25s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.light-mode {
    --color-title: #1f1c27;
    --color-background: #e4dee2;

    --color-header: #e1dce0;

    --color-background-dark: #d1d1ec;
    --color-background-light: #121212;

    --color-accent-light: #353042;
    --color-accent-dark: #D0BCFF;

    --color-accent-light-text: #342d44;
    --color-accent-dark-text: #d3cde7;
}

body {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-weight: 300;
    font-size: 1rem;
    transition: all var(--transition-medium);
    line-height: 1.6;
    background-color: var(--color-background);
    color: var(--color-title);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.desktop .nav {
  display: flex;
  flex-direction: row;
}

body.desktop .sidebar {
  display: block !important;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-background-dark);
    transition: all var(--transition-medium);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    gap: 10px;
    width: 100%;
}

#headerText {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
}

#headerText img {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius-low);
}


img {
    max-width: 100%;
    height: auto;
}


#headerText h2 {
    font-size: 1rem;
    font-weight: 500;
}

 .header-nav {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.header-nav .header-nav-item {
    background-color: var(--color-background-dark);
    color: var(--color-title);
    font-size: 0.9rem;
    text-decoration: none;
    border-radius: var(--border-radius-high);
    font-weight: bold;
    padding: 6px 14px;
    transition: all var(--transition-fast);
}

.header-nav .header-nav-item:hover,
.header-nav .header-nav-item:focus {
    background-color: var(--color-accent-light);
    color: var(--color-background-dark);
    outline: none;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    margin: 0 2rem;
    gap: 10px;
}

.upper-content {
    padding: 2rem;
    background-color: var(--color-header);
    transition: all var(--transition-medium);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px;
    text-align: center;
}

.upper-title {
    line-height: 1;
    max-width: 80%;
    opacity: 0;
    margin-top: 1rem;
    margin-bottom: 6px;
    animation: showOpacity 1s forwards;
}

section {
    margin-bottom: 2rem;

}

.section-title {
    line-height: 1;
    max-width: 100%;
    opacity: 0;
    font-size: x-large;
    animation: showOpacity 1s forwards;
}

.section-subtitle {
    line-height: 1;
    max-width: 100%;
    opacity: 0;
    font-size: medium;
    animation: showOpacity 1s forwards;
    padding-bottom: 10px;
}

.section-header {
    font-size: 1.2rem;
    align-items: center;
    gap: 10px;
    line-height: 2;
    max-width: 80%;
    opacity: 0;
    animation: showOpacity 1s forwards;
}


.divider2 {
    border-top: 4px solid var(--color-background-dark);
    width: 90%;
    transition: all var(--transition-medium);
    border-radius: 2px;
    margin: 1.5rem auto;
}

.divider1 {
    border-top: 4px solid var(--color-background-dark);
    width: 90%;
    transition: all var(--transition-medium);
    margin: 1.5rem auto;
    /* opacity: 0.3; */
    padding-top: 4px;
    border-radius: 2px;
}

#creatorIntro {
    display: block;
    border-radius: 50%;
    margin: 0 auto 12px;
    width: 124px;
    height: 124px;
    transition: transform var(--transition-medium);
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
}

#creatorIntro:hover {
    transform: scale(1.1);
}

#creatorIntro:active {
    transform: scale(1);
}

.preview-list-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
}


.preview-list-content a {
    text-decoration: none;
    color: currentColor;
}

.preview-card {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    background: var(--color-background-dark);
    border-radius: var(--border-radius-high);
    transition: all var(--transition-medium);
    border: 1px solid var(--color-accent-dark);
    color: var(--color-accent-light-text);
}

.preview-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-accent-light);
}

.preview-card:active {
    transform: scale(1.05);
}

.preview-card-cover {
    display: block;
    border-radius: var(--border-radius-high);
    min-width: 240px;
    max-width: 640px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.preview-card-content {
    padding: 16px;
    display: flex;
    image-rendering: crisp-edges;
    flex-direction: column;
    line-height: 1.5;
    flex: 1;
}

.preview-card-header h3 {
    font-size: 1.6rem;
    color: var(--color-title);
    font-weight: 500;
    margin-bottom: 8px;
}

.preview-card-header p {
    color: var(--color-accent-light-text);
    margin-bottom: 12px;
}

.preview-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.preview-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-background-dark);
    color: var(--color-accent-light-text);

    border: 2px solid var(--color-background-light);

    border-radius: var(--border-radius-medium);
    font-weight: 500;
    gap: 10px;
    height: 42px;
    cursor: pointer;
    padding: 0 14px;
    transition: all var(--transition-fast);
}

.preview-btn:hover {
    background-color: var(--color-background-light);

    border: 2px solid var(--color-background-dark);
    
    color: var(--color-accent-dark-text);
    outline: none;
}

.preview-btn svg {
    width: 20px;
    height: 20px;
}

#previewAbout {
    justify-content: center;
    width: 42px;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background);
    color: var(--color-accent-dark-text);
    font-size: 0.9rem;
    padding: 16px 20px;
    width: 100%;
    margin-top: auto;
}

.footer-social-media {
    display: flex;
    gap: 10px;
}

.footer-copyright {
    color: var(--color-accent-light-text);
}

.footer-icon {
    justify-content: center;
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius-medium);
    width: 40px;
    fill: var(--color-accent-light-text);
    height: 40px;
    padding: 8px;
    transition: all var(--transition-fast);
}

.footer-icon:hover,
.footer-icon:focus {
    background-color: var(--color-accent-light);
    color: var(--color-accent-light-text);
    fill: var(--color-background-dark);
    outline: none;
}

.footer-icon svg {
    width: 24px;
    height: 24px;
}

.centered-text {
    text-align: center;
    margin: 20px 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@keyframes showOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .preview-card {
        flex-direction: column;
    }

    .preview-card-cover {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    main {
        margin: 0 1rem;
    }

    .preview-list-content {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .upper-title {
        width: 95%;
    }

    footer {
        flex-direction: column;
        gap: 16px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .preview-card-header h3 {
        font-size: 1.3rem;
    }

    .preview-btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .header-nav {
        flex-direction: column;
        align-items: center;
    }
}